@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');

:root{
    --accent-color:#85a392;
    --second-color:#f5b971;
    --third-color:#fdd998;
    --fourth-color:#ffecc7;
}
*,
*:after,
*::before {
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
html{
    font-size:14px;
}
body{
    background: #fff;
    font-family: 'Titillium Web', sans-serif;
    color:#222;
}

/* GENERAL */
.bg-none{
    background:none;
}
.bg-black{
    background-color:#000!important;
}
.bg-asuransi{
    background-color:linear-gradient(to bottom,#ffe000,#e7b204);
}
.bg-accent{
    background-color:var(--accent-color)!important;
}
.bg-second{
    background-color:var(--second-color)!important;
}
.bg-third{
    background-color:var(--third-color)!important;
}
.bg-fourth{
    background-color:var(--fourth-color)!important;
}
.text-accent{
    color:var(--accent-color)!important;
}
.text-action{
    color:var(--action-color)!important;
}
.text-darkblue{
    color:var(--darkblue-color)!important;
}
.bg-dark-20{
    background:rgba(0,0,0,0.2)
}
.bg-dark-50{
    background:rgba(0,0,0,0.5)
}
.bg-dark-overlay{
    background:linear-gradient(#0001, #000)
}

a{
    color:#222
}
a:hover{
    text-decoration: none;
}
.object-fit-cover{
    object-fit: cover;
}
.object-fit-contain{
    object-fit: contain;
}
.btn-circle-light{
    border:1px solid #ddd;
    border-radius:50%;
    color:#aaa;
    padding:0;
    height:30px;
    line-height:30px;
    width:30px;
    text-align:center;
}
.btn-outline-gray{
    border:1px solid #ddd;
}
.border-dashed{
    border: 1px dashed #ddd!important;
}
.article{
    line-height: 2;
}
.article ul,
.article ol{
    margin-left:30px;
    line-height:2;
}
img.grayscale{
    filter:grayscale(1)
}
.radius-0{
    border-radius: 0px;
}
.radius-5{
    border-radius: 5px;
}
.radius-10{
    border-radius: 10px;
}
.radius-50{
    border-radius:50px;
}
.radius-circle{
    border-radius: 50%;
}
.border-bottom-light{
    border-bottom:1px solid #eee;
}
.font-small{
    font-size:12px;
}
.btn-accent{
    background:#2BBB8B;
    border-color:transparent;
    color:#fff;
}
.btn-accent:hover{
    background:#9884fc;
    color:#fff;
}
.btn-link{
    text-decoration: none!important;
}
.position-relative{
    z-index:2;
}
/* NAVBAR */
.topnav .nav-link{
    color:#fff;
    border-right:1px solid #fff;
    padding:0px 10px;
}
.topnav .nav-item:last-child .nav-link{
    border:none;
}
#navbar{
    margin:0;
    padding:15px 0;
    position:sticky;
    position:-webkit-sticky;
    top:0;
    z-index:999;
}
.navbar-brand{
    font-weight:bold;
}
.navbar-brand img{
    height:40px;
    object-fit: contain;
    margin:0 15px 0 0;
}
#navigation{
    border-top:1px solid #eee;
    padding:0;
    position:sticky;
    position:-webkit-sticky;
    top:85px;
    z-index:999;
    background:#fff;
}
#navigation .nav .nav-link{
    padding:15px;
    text-transform: uppercase;
    font-size:15px;
    font-weight:bold;
}
#navigation .nav .nav-item.active .nav-link{
    border-bottom:4px solid #feca57;
    background:#f5f5f5;
}
#navigation .nav .nav-item{
    position: relative;
}
#navigation .nav .nav-item ul{
    position: absolute;
    top:100%;
    left:0;
    background:#fff;
    list-style:none;
    display: none;
}
#navigation .nav li:hover > ul{
    display: block;
}
#navigation .nav .nav-item ul li{
    position: relative;
}
#navigation .nav .nav-item ul li a{
    display: block;
    min-width:200px;
    padding:10px 15px;
}
#navigation .nav .nav-item ul li a:hover{
    background:#eee;
    color:#333;
}
#navigation .nav .nav-item ul li ul{
    top:0;
    left:100%;
}
/* SECTION */
.section-bg{
    position: relative;
}
.section-bg .bg{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    z-index:1;
}
.section-bg-overlay:before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:#000;
    opacity: 0.5;
    z-index:2;
}
.section-bg-overlay.overlay-accent:before{
    background:var(--accent-color);
}
.section-bg .container,
.section-bg .container-fluid{
    position: relative;
    z-index: 3;
}
/* TABLE */
table.table thead tr:last-child th{
    border:none;
}

/* FOOTER */
footer{
    background:var(--accent-color);
    color:#fff;
    position: relative;
}
footer:before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: url(../images/background/footer-bg.jpg) no-repeat center;
    background-size: cover;
    opacity:0.1;
}
footer .container{
    position: relative;
}
footer a{
    color:#fff;
}
footer a:hover{
    color:#fff;
    text-decoration: underline!important;
}

/* SOCIAL ICONS */
.social-icons a{
    margin:0 5px 5px 0;
    width:40px;
    height:40px;
    line-height: 40px;
    text-align: center;
    background:#fff;
    border-radius:50%;
    display: inline-block;
    text-decoration: none;
}
.social-icons .fa.fa-facebook{
    color:#3c66c4;
}
.social-icons .fa.fa-google{
    color:#da3d2e;
}
.social-icons .fa.fa-twitter{
    color:#26aced;
}
.social-icons .fa.fa-pinterest{
    color:#bf1228;
}
.social-icons .fa.fa-instagram{
    color:#c256c4;
}
.social-icons .fa.fa-whatsapp{
    color:#4DC247;
}
.social-icons .fa.fa-envelope{
    color:#838383;
}
.social-share a{
    background:#eee;
}
.row-feature .icon{
    width:80px;
    height:80px;
    border-radius:50%;
    background:#eee;
}

/* HERO */
#hero .slide img{
    width:100%;
    height:550px;
    object-fit: cover;
}
#hero .slick-arrow{
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    width:50px;
    height: 50px;
    line-height: 50px;
    z-index:99;
    background:#fff3;
    color:#fff;
    font-size:25px;
    border:none;
    outline:none;
}
#hero .slick-arrow.slick-next{
    left:auto;
    right:0;
}
.video-slider .slick-dots{
    position: relative;
    text-align: center;
    list-style: none;
    margin:15px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.video-slider .slick-dots li button{
    margin:0 5px 5px 0;
    width:5px;
    height:5px;
    text-indent: -9999px;
    overflow: hidden;
    border-radius: 5px;
    border:none;
    background:#fff5;
    transition: .3s ease;
    outline:none;
}
.video-slider .slick-dots li.slick-active button{
    background:#fff;
    width:20px;
}
.video-slider .slick-arrow{
    position: absolute;
    bottom:10px;
    left:0;
    width:20px;
    height:20px;
    line-height:20px;
    border-radius:5px;
    background:#fff5;
    color:#fff;
    border:none;
    outline:none;
    z-index:999;
}
.video-slider .slick-arrow.slick-next{
    left:auto;
    right:0;
}
.news-slider .row{
    position: relative;
    z-index:10;
}
.news-slider .slick-arrow{
    position: absolute;
    top:50%;
    left:0;
    width:40px;
    height:100px;
    line-height: 100px;
    text-align: center;
    color:#333;
    background:#fff;
    border:none;
    transform: translateY(-50%);
    z-index:11;
    outline:none;
}
.news-slider .slick-arrow.slick-next{
    left:auto;
    right:0;
}
.news-slider .slide{
    height:300px;
}

/* RESPONSIVE */
@media (max-width: 768px){
    body{
        padding-top:79px;
    }
    #navbar{
        padding:15px;
        z-index:99;
        position: fixed;
        top:0;
        left:0;
        right:0;
    }
    #navigation{
        position: fixed;
        top:79px;
        left:0;
        right:0;
        max-height:calc(100vh - 79px);
        overflow: auto;
    }
    #navigation .container{
        padding:0;
    }
    #navigation.show{
        display: block!important;
    }
    #navigation .nav .nav-item .nav-link{
        border-bottom:1px solid #ddd;
    }
    #navigation .nav .nav-item.active .nav-link{
        border:none;
    }
    #navigation .nav .nav-item ul,
    #navigation .nav .nav-item ul li ul{
        position: relative;
        top:auto;
        left:auto;
    }
    #navigation .nav .nav-item:hover ul,
    #navigation .nav .nav-item ul li:hover ul{
        display: none;
    }
    #navigation .nav .nav-item ul.show,
    #navigation .nav .nav-item ul.show li ul.show{
        display: block;
    }
    #navigation .nav .nav-item a .feather-chevron-down,
    #navigation .nav .nav-item a .feather-chevron-right{
        display: none;
    }
    #navigation .nav .nav-item ul li a{
        padding-left:30px;
    }
    #navigation .nav .nav-item ul li ul li a{
        padding-left:50px;
    }
    #navigation .nav .nav-item .toggler{
        width:50px;
        height:50px;
        position: absolute;
        top:0;
        right:0;
        background:none;
        border:none;
        display:block;
        z-index:99;
        outline:none;
    }
    #hero .slide img{
        width:100%;
        height:auto;
        object-fit: cover;
    }
    
}
@media (max-width: 480px){
    .news-slider .slide{
        height:auto;
    }
    .news-slider img.bg{
        position: relative;
    }
    .news-slider .row-caption{
        padding:0!important;
    }
    
    
}